django_tastypie
django-reportengine
-e git+http://github.com/jrutila/django-reportengine.git#egg=django_reportengine
django-contrib-comments
django-crispy-forms
django-sekizai
isoweek
-e git+http://github.com/jrutila/django-settings.git#egg=django-settings
django-bower
