{% load i18n  %}

{% if perms.stables.add_ticket %}
    <a href="{% url "add_tickets" username=object.user.username %}">{% trans "Add tickets" %}</a>
    <a href="{% url "edit_tickets" username=object.user.username %}">{% trans "Edit tickets" %}</a>
{% endif %}
{{ object.saldo }}
<ul>
    {% for t, l in object.tickets.items %}
        <li class="ticket_valid">
            {% with name=t amount=l.0 expire_date=l.1 family=l.2 %}
                {% if family %}
                    {% blocktrans %}{{ name }} (F): {{ amount }} pcs (first expires: {{ expire_date }}){% endblocktrans %}
                {% else %}
                    {% blocktrans %}{{ name }}: {{ amount }} pcs (first expires: {{ expire_date }}){% endblocktrans %}
                {% endif %}
            {% endwith %}
        </li>
    {% endfor %}
    {% for t, l in object.expired_tickets.items %}
        <li class="ticket_expired">
            {% with name=t amount=l.0 expire_date=l.1 family=l.2 %}
                {% if family %}
                    {% blocktrans %}{{ name }} (F): {{ amount }} pcs (expired: {{ expire_date }}){% endblocktrans %}
                {% else %}
                    {% blocktrans %}{{ name }}: {{ amount }} pcs (expired: {{ expire_date }}){% endblocktrans %}
                {% endif %}
            {% endwith %}
        </li>
    {% endfor %}
</ul>
