{% load i18n %}
{% block content %}
<p>
<a href="{% url "django.contrib.auth.views.logout" %}" data-role='button'>{% trans "Logout" %}</a>
</p>
{% if social_auth.facebook %}
<a href="{% url "socialauth_disconnect" 'facebook' %}">{% trans "Disconnect Facebook" %}</a>
{% else %}
<a href="{% url "socialauth_begin" 'facebook' %}">{% trans "Connect Facebook" %}</a>
{% trans "or" %}
<a href="{% url "django.contrib.auth.views.password_change" %}">{% trans "Change password" %}</a>
{% endif %}
{% endblock content %}
