{% extends "base.html" %}
{% load i18n stablestags %}
{% block content %}
<div class="widget">
    <div class="widget-content">

<h1>
    {% include "stables/user/partials/_basic.html" %}
</h1>

    {% include "stables/user/partials/_contact.html" %}

{% if object.next and object.next.count > 0 %}
<h3>
  {% trans "Next event" %}
</h3>
    {% include "stables/user/partials/_next.html" %}
{% endif %}

{% if object.participations %}
  <h3>
    {% trans "Previous participations" %}
  </h3>
    {% include "stables/user/partials/_prev.html" %}
{% endif %}

<h3>{% trans "Saldo and tickets" %}</h3>

<h3>{% trans "Orders" %}</h3>
    <table class="table">
    <thead>
    <th>{% trans "Id" %}</th>
    <th>{% trans "Created" %}</th>
    <th>{% trans "Status" %}</th>
    <th>{% trans "Product" %}</th>
    <th>{% trans "Total" %}</th>
    </thead>
    <tbody>
    {% for o in object.orders %}
        <tr>
        <td>{{ o.id }}</td>
        <td>{{ o.created }}</td>
        <td>{{ o.get_status_display }}</td>
        <td>
            {% for i in o.items.all %}
            {{ i.product_name }}{% if i.quantity > 1 %} ({{ i.quantity }} kpl){% endif %}<br/>
            {% endfor %}
        </td>
        <td>{{ o.order_total }}&euro;</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div> <!-- widget-content -->
</div>
{% endblock %}
