{% extends "base.html" %}
{% load i18n stablestags %}
{% block content %}
<h1><a href="{{ object.get_absolute_url }}">{{ object }}</a></h1>

{% if object.instructor %}
<p>
{% trans "Instructor" %}
</p>
{% endif %}

<a class="btn btn-default lightbox-type" href="{% url "edit_user" username=object.user.username %}?lightbox[width]=300&lightbox[height]=400">{% trans "Edit" %}</a>


{% ifequal object.user request.user %}
{% include "stables/object/account.html" %}
{% endifequal %}

<p>
{% trans "E-mail" %}: {{ object.object.email }}
</p>

{% if object.next and object.next.count > 0 %}
<h3>
  {% trans "Next event" %}
</h3>
  <ul>
  {% for p in object.next %}
    <li>
    {{ p }}
    {% if p %}
    {% participate_button p redirect=object.get_absolute_url %}
    {% endif %}
    </li>
  {% endfor %}
</ul>
{% endif %}

{% if object.participations %}
  <h3>
    {% trans "Last participations" %}
  </h3>
  <ul>
    {% for p in object.participations %}
    <li>
    {{ p }}
    <a href="{% url "view_participation" p.id %}">Edit</a>
    </li>
    {% endfor %}
    <li><a href="{{ request.path }}?pmore={{ object.participations|length|add:10 }}">{% trans "More..." %}</a></li>
  </ul>
{% endif %}

<h3>{% trans "Saldo" %}</h3>
{{ object.saldo }}
{% if perms.stables.add_ticket %}
<a href="{% url "add_tickets" username=object.user.username %}">{% trans "Add tickets" %}</a>
{% endif %}
<ul>
{% for t, l in object.tickets.iteritems %}
<li>
{% blocktrans with name=t amount=l.0 expire_date=l.1 %}
{{ name }}: {{ amount }} pcs (first expires: {{ expire_date }})
{% endblocktrans %}
</li>
{% endfor %}
</ul>

{% if object.transactions %}
<h3>
  {% trans "Last transactions" %}
</h3>
<ul>
  {% for t in object.transactions %}
  <li>
  {{ t }}
  </li>
  {% endfor %}
    <li><a href="{{ request.path }}?tmore={{ object.transactions|length|add:10 }}">{% trans "More..." %}</a></li>
</ul>
{% endif %}

{% endblock %}
