{% extends "base.html" %}
{% load i18n stablestags sekizai_tags static %}
{% block content %}
    {% addtoblock "css" %}
        <link href="{% static 'stables/css/user.css' %}" rel="stylesheet" type="text/css" />
    {% endaddtoblock %}
    {% addtoblock "js" %}
        <script type="text/javascript">
        $("#hide_zero").click(function(el) {
            if ($(el.currentTarget).is(":checked"))
            {
                $("#rider-list li:not(.inactive)").show();
                $("#rider-list li:not(:has(.saldo))").hide();
                $("#show_inactive").removeAttr("checked");
            }
            else
                $("#rider-list li:not(.inactive)").show();
        });
        $("#show_inactive").click(function(el) {
            if ($(el.currentTarget).is(":checked"))
            {
                $("#rider-list li").hide();
                $("#rider-list li.inactive").show();
                $("#hide_zero").removeAttr("checked");
            } else {
                $("#rider-list li").hide();
                $("#rider-list li:not(.inactive)").show();
            }
        });
        </script>
    {% endaddtoblock %}


<div class="row">

    <div class="col-md-8">
    <div class="widget stacked">

    <div class="widget-header">
        <i class="fa fa-group icon-group"></i>
        <h3>{% trans "Riders" %}</h3>
    </div>

    <div class="widget-content">
        <div class="row list-group" id="rider_list">
            {% for user in object_list %}
            <div class="item col-md-2 col-sm-6 col-xs-12 {% if user.inactive %} inactive {% endif %}">
                <div>
                    <a href="{{ user.get_absolute_url }}">{{ user }}</a>
                    {% if user.saldo %}
                    <span class="saldo">{{ user.saldo }}</span>
                    {%  endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="widget-footer">
        <p>{% trans "Amount of all users:" %} {{ object_list|length }}</p>
    </div>

    </div>
    </div>

    <div class="col-md-4">

    <div class="widget widget-plain">
        <div class="widget-content">
            <a class="btn btn-primary btn-adder" href="{% url "add_user" %}" title="{% trans "Add user" %}">{% trans "Add rider" %}</a>
            <input type="checkbox" id="hide_zero" /><label for="hide_zero">{% trans "Show only riders with saldo" %}</label>
            <input type="checkbox" id="show_inactive" /><label for="show_inactive">{% trans "Show only inactive riders" %}</label>
        </div>
    </div>
    </div>

</div>

{% endblock content %}
