{% extends "base.html" %}
{% load i18n sekizai_tags %}
{% block content %}
    <div class="row">

        <div class="col-md-8">

            <div class="widget stacked">
                <div class="widget-header">
                    <i class="fa fa-heart icon-heart"></i>
                    <h3>{% trans "Horses" %}</h3>
                </div>
                <div class="widget-content">
                    <ul class="list-group">
                    {% for horse in object_list %}
                    <li class="list-group-item"><a href="{% url 'change_horse' pk=horse.id %}">{{ horse.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="widget widget-plain">
                <div class="widget-content">
                    <a class="btn btn-primary btn-adder" href="{% url 'add_horse' %}">{% trans "Add horse" %}</a>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
