{% extends "base.html" %}
{% load i18n sekizai_tags %}
{% load stablestags %}
{% block content %}

{% addtoblock "css" %}
<link href="{{ STATIC_URL }}stables/css/course.css" rel="stylesheet" type="text/css" />
{% endaddtoblock %}

<h1>{{ object.name }}</h1>
{% if perms.stables.change_course %}
<a href="{% url "change_course" object.id %}">{% trans "Modify course" %}</a><br/>
{% endif %}
{% if object.end %}
{% blocktrans with object.start as start and object.end as end %}From {{ start }} to {{ end }}{% endblocktrans %}
{% endif %}
<p>
{% blocktrans with object.get_attending_amount as attending and object.max_participants as space %}
Enrolled: {{ attending }}/{{ space }}
{% endblocktrans %}
</p>
<ul>
    {% for c in occurrences %}
    <li class="vevent {% if c.cancelled %}cancelled{% endif %}">
        {% blocktrans with c.start.date|date:"l" as weekday and c.start.date|date as day and c.start.time as start and c.end.time as end and object.name as summary and c.start.isoformat as dtstart and c.end.isoformat as dtend %}
        <span class="summary">{{ summary }}</span> on <abbr class="dtstart" title="{{ dtstart }}">{{ weekday }}, {{ day }} from {{ start }}</abbr> to <abbr class="dtend" title="{{ dtend }}">{{ end }}</abbr>
        {% endblocktrans %}

        {% blocktrans with c.attending_amount as attending and object.max_participants as space %}
        Participating: {{ attending }}/{{ space }}
        {% endblocktrans %}

        <a href="{% url 'change_event' pk=object.id start=c.start.isoformat %}">{% trans "Change time" %}</a>

        <ul>
        {% for instr in c.instructors %}
          <li>
            {{ instr }}
          </li>
        {% endfor %}
        {% for part in c.parts %}
          <li>
          {% if perms.stables.view_participation %}
              {{ part.short }}
          {% else %}
            {% ifequal user.get_profile part.participant %}
              {{ part.short }}
            {% else %}
              {{ part.state|state }}
            {% endifequal %}
          {% endif %}
          </li>
          </li>
        {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% if perms.stables.change_course %}
<a href="{% url "add_event" object.id %}">{% trans "Add one-time event" %}</a><br/>
{% endif %}
{% endblock content %}
