{% extends "base.html" %}
{% load staticfiles i18n sekizai_tags %}
{% load stablestags %}
{% block content %}
{% load tz %}

{% addtoblock "css" %}
<link href="{% static 'stables/css/course.css' %}" rel="stylesheet" type="text/css" />
{% endaddtoblock %}

<h1>{{ object.name }}</h1>
{% if perms.stables.change_course %}
<a href="{% url "change_course" object.id %}">{% trans "Modify course" %}</a><br/>
{% endif %}
{% if object.end %}
{% blocktrans with object.start as start and object.end as end %}From {{ start }} to {{ end }}{% endblocktrans %}
{% endif %}
<p>
{% blocktrans with object.get_attending_amount as attending and object.max_participants as space %}
Enrolled: {{ attending }}/{{ space }}
{% endblocktrans %}
</p>
<ul>
    {% for c in occurrences %}
    <li class="vevent {% if c.cancelled %}cancelled{% endif %}">
        {% blocktrans with c.start|date:"D j.n H:i" as start and c.event.title as summary %}
        <span class="summary">{{ summary }}</span> on {{ start }}</abbr>

        {% endblocktrans %}

        {% blocktrans with c.attending_amount as attending and object.max_participants as space %}
        Participating: {{ attending }}/{{ space }}
        {% endblocktrans %}

        {% if perms.schedule.change_occurrence %}
        <a href="{% url 'change_event' pk=object.id start=c.start.isoformat %}">{% trans "Change time" %}</a>
        {% endif %}

        <ul>
        {% for instr in c.instructors %}
          <li>
            {{ instr }}
          </li>
        {% endfor %}
        {% for part in c.parts %}
          <li>
          {% if perms.stables.view_participation %}
              {{ part.short }}
          {% else %}
            {% ifequal user.get_profile part.participant %}
              {{ part.short }}
            {% else %}
              {{ part.state|state }}
            {% endifequal %}
          {% endif %}
          </li>
          </li>
        {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% if perms.schedule.add_occurrence %}
<a href="{% url "add_event" object.id %}">{% trans "Add one-time event" %}</a><br/>
{% endif %}
{% endblock content %}
