{% extends "base.html" %}
{% load i18n stablestags %}
{% block content %}
<div class="widget">
    <div class="widget-header"><i class="icon-list-ul"></i><h3>{% trans "Courses" %}</h3></div>
    <div class="widget-content">
    <a class="btn btn-default" href="{% url "add_course" %}">{% trans "Add course" %}</a>
    <ul class="list-group">
    {% for course in object_list %}
    <li class="list-group-item">
    <a href="{{ course.get_absolute_url }}">{{ course }}</a>
    {% if course.next_occ %}
    {{ course.next_occ.start|date:"D" }}
    {{ course.next_occ.start.time }} -
    {{ course.next_occ.end.time }}
    {% endif %}
    <a href="{% url 'change_course' pk=course.id %}">{% trans "Edit" %}</a>
    </li>
    {% endfor %}
    </ul>
</div>
</div>
{% endblock content %}
