#week_navigation
{
  clear: both;
  display: block;
}

#week_navigation li
{
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.cancelled
{
    text-decoration: line-through;
}

.currentRepeat .new {
    color: darkgreen;
    font-weight: bold;
}
