table.timetable thead th
{
  width: 20%;
  min-width: 100px;
}

table.timetable thead th:first-of-type
{
  width: auto;
}

#week_navigation
{
  clear: both;
  display: block;
}

#week_navigation li
{
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.cancelled
{
    text-decoration: line-through;
}
