div.note
{
  height: 24px;
  width: 35px;
  position: relative;
  display: inline-block;
  background-color: black;
  top: 6px;
}

div.note.has_text
{
  background-color: green;
  cursor: pointer;
}

.note:after
{
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px 8px 8px 0px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  color: #FFF;
  content: attr(data-tooltip); /* The main part of the code, determining the content of the pop-up prompt */
  margin-top: -24px;
  opacity: 0; /* Our element is transparent... */
  padding: 3px 7px;
  position: absolute;
  bottom: 20px;
  visibility: hidden; /* ...and hidden. */
  white-space: pre;
    
  transition: all 0.4s ease-in-out; /* To add some smoothness */ 
}

.note:hover:after
{
  opacity: 1;
  visibility: visible;
}

div.note textarea
{
  position: absolute;
  width: 100px;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 999;
}

textarea[name$='notes']
{
  display: block;
  height: 30px;
}

select[name$='state']
{
  width: 35px;
  height: 24px;
}

select[name$='horse']
{
  width: 100px;
}

input[name$='participant']
{
  width: 100px;
}

select.changed
{
  background-color: red;
}

.ui-stbl-db-user
{
  width: 120px;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.timetable ul.rider-list
{
  padding-left: 0px;
  list-style: none;
}

.timetable select
{
  margin: 0px;
}

.timetable td, .timetable ul li
{
white-space: nowrap;
}

.timetable th, .timetable td
{
  vertical-align: top;
}

.timetable td
{
  padding: 5px;
}
.errorlist
{
  color: red;
  font-weight: bold;
}

.dashboard-container {
    display: table;
}

.dashboard-container .widget {
    margin-left: 10px;
    margin-right: 10px;
}
