div.note
{
  display: inline-block;
}

textarea[name$='notes']
{
  display: block;
  height: 30px;
}

select[name$='state']
{
  width: 35px;
  height: 24px;
}

select[name$='horse']
{
  width: 100px;
}

input[name$='participant']
{
  width: 100px;
}

.changed
{
  background-color: lightGreen;
}

.ui-stbl-db-user
{
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.ui-stbl-db-user.alert {
    padding: 0px;
}

.rider-list li {
    height: 35px;
}

.timetable ul.rider-list
{
  padding-left: 0px;
  list-style: none;
  min-width: 300px;
}

.timetable select
{
  margin: 0px;
}

.timetable td, .timetable ul li
{
white-space: nowrap;
}

.timetable thead th
{
    width: 300px;
}

.timetable th, .timetable td
{
  vertical-align: top;
}

.timetable td
{
  padding: 5px;
}

.timetable .title-link
{
    margin-right: 10px;
}

.errorlist
{
  color: red;
  font-weight: bold;
}

.dashboard-container {
    display: table;
}

.dashboard-container .widget {
    margin-left: 10px;
    margin-right: 10px;
}

.comments
{
    border: 1px solid gray;
}

.comments .comment_user
{
    font-size: smaller;
    color: gray;
    float: right;
}

.comments .comment_date
{
    font-size: smaller;
    color: ligthGray;
}

.timetable .loaded img
{
    display: none;
}

.timetable tbody tr:not(:has(td.loaded:has(div)))
{
    display: none;
}

.popover.right .arrow
{
    top: 27px;
}

button.close {
    padding-left: 10px;
}

select.warning {
    background-color: orange;
}

.print-date, .add-course, .gotoNewEvent {
  cursor: pointer;
}

a.pay, a.message, a.move {
    cursor: pointer;
    margin-right: 7px;
    font-size: large;
}

li.condensed {
    padding-top: 1px;
    padding-bottom: 1px;
}
