.horse_image  img
{
  border: 2px solid black;
  border-radius: 10px;
}

ul.horselist
{
  padding-left: 0px;
  float:left;
  width: 100%;
  background-color: gray;
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul.horselist li
{
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin-left: 8%;
  margin-bottom: 20px;
}

.horselist
{
  color: white;
}

.horselist h1
{
  color: white;
}

.horse_gender, .horse_nickname
{
  display: inline;
}
