li.inactive {
    display: none;
    color: darkred;
    font-weight: bold;
}

ul.show_inactive li {
    display: none;
}

ul.show_inactive li.inactive {
    display: block;
}

ul.show_zero li {
    display: none;
}

ul.show_zero li.saldo {
    display: block;
}

#rider_list li:not(.hit) {
    display: none !important;
}

.list-group .item {
    margin-left: 5px;
}

.list-group .item > div {
    height: 50px;
}

span.saldo {
    display: block;
    color: red;
}

.search-query {
    position: absolute;
    right: 3px;
    top: 2px;
    width: 225px;
    margin-top: 2px;
    background-color: #eee;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    border-color: #ccc;
    border-radius: 20px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.15);
}