{% extends "site_base.html" %}
{% load i18n %}
{% load stablestags %}
{% block body %}
<h1>{{ course.name }}</h1>
{% blocktrans with course.start as start and course.end as end %}From {{ start }} to {{ end }}{% endblocktrans %}
{% if perms.stables.change_participation %}
<a href="{% url stables.views.modify_enrolls course_id=course.id %}">{% trans "Modify enrolls" %}</a>
{% endif %}
{% if user.get_profile.rider %}
  {% participate_button user.get_profile course %}
{% endif %}
{% blocktrans with course.get_attending_amount as attending and course.max_participants as space %}
Enrolled: {{ attending }}/{{ space }}
{% endblocktrans %}
<ul>
    {% for c in occurrences %}
    <li class="vevent">
        {% blocktrans with c.start.date|date:"l" as weekday and c.start.date|date as day and c.start.time as start and c.end.time as end and course.name as summary and c.start.isoformat as dtstart and c.end.isoformat as dtend %}
        <span class="summary">{{ summary }}</span> on <abbr class="dtstart" title="{{ dtstart }}">{{ weekday }}, {{ day }} from {{ start }}</abbr> to <abbr class="dtend" title="{{ dtend }}">{{ end }}</abbr>
        {% endblocktrans %}

        {% blocktrans with c.attending_amount as attending and course.max_participants as space %}
        Participating: {{ attending }}/{{ space }}
        {% endblocktrans %}


        {% if perms.stables.change_participation %}
        <a href="{% url stables.views.modify_participations course_id=course.id occurrence_start=c.start.isoformat %}">{% trans "Modify participations" %}</a>
        {% endif %}
        {% if perms.stables.change_participation_horse %}
        <a href="{% url stables.views.modify_participation_horses course_id=course.id occurrence_start=c.start.isoformat %}">{% trans "Set horses" %}</a>
        {% endif %}
        {% if perms.stables.change_participation_time %}
        <a href="{% url stables.views.modify_participation_time course_id=course.id occurrence_start=c.start.isoformat %}">{% trans "Change time" %}</a>
        {% endif %}
        <ul>
        {% for part in c.parts %}
          <li>
          {% if perms.stables.view_participation %}
              {{ part.short }}
          {% else %}
            {% ifequal user.get_profile part.participant %}
              {{ part.short }}
            {% else %}
              {{ part.state|state }}
            {% endifequal %}
          {% endif %}
          </li>
          </li>
        {% endfor %}
        </ul>
        {% if user.get_profile.rider %}
          {% participate_button user.get_profile course c.occurrence %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock body %}
