{% extends "site_base.html" %}
{% load i18n sekizai_tags cms_tags %}
{% block body %}
<article>
{% show_placeholder "content" request.current_page.parent_id %}
{% addtoblock "css" %}
<link href="{{ STATIC_URL }}stables/css/course.css" rel="stylesheet" type="text/css" />
{% endaddtoblock %}
<table class='timetable'>
  <thead>
    <tr>
    <th></th>
    {% for i,d in week.items %}
      <th>{{ d.1 }}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for t,o in occurrences.items %}
    <tr>
      <td>{{ t }}</td>
      {% for i, d in o.items %}
        <td>
        {% for c, f in d %}
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
          <span>
          {% if c.is_full %}
            {{ f }}
          {% else %}
            {{ f }}
          {% endif %}
          </span>
        {% endfor %}
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<ul>
    {% for c in courses %}
    <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
    {% endfor %}
</ul>
</article>
{% endblock body %}
