{% extends "site_base.html" %}
{% load i18n %}
{% load stablestags %}
{% block body %}
<h1><a href="{{ course.get_absolute_url }}">{{ course }}</a></h1>
<ul>
{% if occurrence %}
{{ occurrence.start }} - {{ occurrence.end }}
<form method='POST'>
{% csrf_token %}
<input type='submit' value='{% trans "Save changes" %}'/>
<table>
  <thead><th>{% trans "Participant" %}</th><th>{% trans "State" %}</th></thead>
  <tbody>
    {{ form.as_table }}
  <tbody>
</table>
</form>
{% endif %}
{% for u in users %}
    <li>{{ u }}{% participate_button u course occurrence %}</li>
{% endfor %}
</ul>
{% endblock body %}
