{% extends "site_base.html" %}
{% load i18n %}
{% block body %}
<h1>{{ rider }}</h1>
<div class="tickets">
{% if rider.rider.unused_tickets.count %}
{% blocktrans with rider.rider.unused_tickets.count as ticket_count %}
Tickets left: {{ ticket_count }}
{% endblocktrans %}
{% endif %}
{% if perms.stables.add_ticket %}
<a href="{% url stables.views.add_tickets rider.user.username  %}">{% trans "Add tickets" %}</a>
{% endif %}
</div>
<ul>
    {% for p in rider.get_participations %}
    <li>{{ p }}</li>
    {% endfor %}
</ul>
{% endblock body %}
