{% load i18n staticfiles %}
{% load stablestags %}

<script type="text/html" id="ParticipationView">
    <div class="note" title="<%= note %>">
    <% if (note != "" && note != null) { %>
        <i class="fa fa-comment"
    <% } else { %>
        <i class="fa fa-comment-o"
    <% } %>
    ></i>
    </div>
    <select name="horse">
        <option value="0">{% trans "--" %}</option>
        <% horses.each(function(h) { %>
        <option value="<%= h.get("id") %>"><%= h.get("name") %></option>
        <% }) %>
    </select>
    <span class="ui-stbl-db-user alert alert-<%= alert_level %>"
    <% if (state != 0 ) { %>
        style="text-decoration: line-through;"
    <% } %>
    >
    <% if (typeof(warning) != "undefined" && warning) { %>
        <span title="<%= warning %>">!</span>
    <% } %>
    <% if (finance_url != null) { %>
        <a class="detail_url" href="<%= finance_url %>" title="<%= finance_hint %>"><%= finance %></a>
    <% } %>
    <% if (accident_url != null) { %>
        <a href="<%= accident_url %>">X</a>
    <% } %>
    <a href="<%= rider_url %>"><%= rider_name %></a>
    </span>
    <select name="state">
        {% for s in states %}
        <option value="{{ s.0 }}">{{ s.1 }}</option>
        {% endfor %}
    </select>
    <% if (typeof id !== 'undefined' && id != null) { %>
        <% if (state == 0 && enroll == null) { %>
        <button class='enroll btn'>E</button>
        <% } else if (state == 3 && enroll != null) { %>
        <button class='denroll btn'>D</button>
        <% } %>
    <% } %>
</script>

<script type="text/html" id="FinancePopoverView">
  <div class="">
    <div class=""><%= finance_hint %>
        {% gatekeeper merchant %}
        <% if (finance_hint < 0) { %>
            <a href="#" class="pay pay_email" title="{% trans "Send payment link with email" %}"><i class="fa fa-envelope"></i></a>
            <a href="#" class="pay pay_mobile" title="{% trans "Send payment link with sms" %}"><i class="fa fa-mobile"></i></a>
            <input name="phone_number" class="addinfo" type="text" style="display: none" />
            <input name="email_address" class="addinfo" type="text" style="display: none" />
            <div class="confirm_message" style="display: none">Oletko varma?</div>
            <button class="confirm" style="display: none">Lähetä</button>
        <% } %>
        {% endgatekeeper %}
    </div>

    <div role="form">
    <% for (var t in pay_types) { %>
    <div class="input-group">

      <span class="input-group-btn">
          <button type="button" class="btn pay-button" value="<%= t %>">
          <% if (t == 0) { %>
          {% trans "Cash" %}
          <% } else { %>
          <%= pay_types[t] %>
          <% } %>
          </button>
      </span>
      <% if (t == 0) { %>
          <input type="text" class="form-control" value="<%= pay_types[t] %>" placeholder="0.00"/>
      <% } %>
    </div>
    <% } %>
    </div>

    <div>
    <div>
    <textarea name="note"><%= note %></textarea>
    </div>
    <a href="<%= participation_url %>">{% trans "details" %}</a>
    </div>
  </div>
</script>

<script type="text/html" id="EventView">
<a class="<% if (cancelled) { %>cancelled<% } %>" href="<%= course_url %>" title='<%= moment(start).format('l HH:mm') %>-<%= moment(end).format('HH:mm') %>'><%= moment(start).format('dd HH:mm') %> <%= title %></a>
    {% if instructors %}
    <select name="instructor">
        <option value="0">{% trans "--" %}</option>
        {% for i in instructors %}
        <option value="{{ i.pk }}">{{ i }}</option>
        {% endfor %}
    </select>
    {% endif %}
    <!--<div class='comments'>
    </div>-->
    <ul class="rider-list">
    </ul>
</script>

<script type="text/html" id="CommentsView">
   <i class="fa fa-comment"></i>
   <% if (last_comment != undefined) { %>
    <span class='comment'><%= last_comment.get('comment') %></span>
   <% } %>
   <input type='text' name='newcomment'/>
</script>

<script type="text/html" id="WeekView">
    <table class="timetable">
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>
</script>

<script type="text/html" id="EventLoadingView">
    <img src="{% static 'stables/img/ajax-loader.gif' %}"/>
</script>

<script type="text/html" id="HorseLimitReachedMessage">
    <h4>{% trans "Horse day limit reached" %}</h4>
    <span>{% trans "Horse <%= name %> is riding over it's limit of <%= limit %>" %}</span>
</script>

<div class="modal fade" id="AddEventView" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" id="ModalLabel">{% trans "Add new event" %}</h3>
            </div>
            <div class="modal-body">
                <form role="form" id="addeventForm">
                    <div class="form-group">
                        <label for="addeventDate">{% trans "Date" %}</label>
                        <input name="date" id="addeventDate" type="text" class="form-control" placeholder="{% trans "2014-12-31" %}" />
                        <label for="addeventStart">{% trans "Start" %}</label>
                        <input name="start" id="addeventStart" type="text" class="form-control" placeholder="{% trans "00:00" %}" />
                        <label for="addeventEnd">{% trans "End" %}</label>
                        <input name="end" id="addeventEnd" type="text" class="form-control" placeholder="{% trans "00:00" %}" />
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#event-tab" data-toggle="pill">{% trans "Single event" %}</a></li>
                        <li><a href="#course-tab" data-toggle="pill">{% trans "Existing course" %}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane form-group active" id="event-tab">
                            <label for="addeventTitle">{% trans "Title" %}</label>
                            <input name="title" id="addeventTitle" type="text" class="form-control" />
                        </div>
                        <div class="tab-pane form-group" id="course-tab">
                            <label for="addeventCourse">{% trans "Course" %}</label>
                            <select name="course" id="addeventCourse" class="form-control">
                                {% for c in courses %}
                                <option value="{{ c.id }}">{{ c }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="submit" form="addeventForm" class="btn btn-primary">{% trans "Add event" %}</button>
            </div>
        </div>
    </div>
</div>
