{% load i18n staticfiles %}

<script type="text/html" id="ParticipationView">
    <select name="horse">
        <option value="0">{% trans "--" %}</option>
        {% for h in horses %}
        <option value="{{ h.pk }}">{{ h.name }}</option>
        {% endfor %}
    </select>
    <span class="ui-stbl-db-user alert alert-<%= alert_level %>"
    <% if (state != 0 ) { %>
        style="text-decoration: line-through;"
    <% } %>
    >
    <% if (alert_level == 'warning') { %>
        <span title="<%= warning %>">!</span>
    <% } %>
    <% if (finance_url != null) { %>
        <a class="detail_url" href="<%= finance_url %>" title="<%= finance_hint %>"><%= finance %></a>
    <% } %>
    <% if (accident_url != null) { %>
        <a href="<%= accident_url %>">X</a>
    <% } %>
    <a href="<%= rider_url %>"><%= rider_name %></a>
    </span>
    <select name="state">
        {% for s in states %}
        <option value="{{ s.0 }}">{{ s.1 }}</option>
        {% endfor %}
    </select>
    <div class="note">
    <textarea name="note"><%= note %></textarea>
    </div>
    <% if (typeof id !== 'undefined' && id != null) { %>
        <% if (state == 0 && enroll == null) { %>
        <button class='enroll btn'>E</button>
        <% } else if (state == 3 && enroll != null) { %>
        <button class='denroll btn'>D</button>
        <% } %>
    <% } %>
</script>

<script type="text/html" id="FinancePopoverView">
    <div><%= finance_hint %></div>
    <!--<input type="number" value="<%= value %>"/>-->
    <% for (var t in ticket_types) { %>
      <button value="<%= ticket_types[t] %>"><%= t %></button>
    <% } %>
    <div>
    <a href="<%= participation_url %>">{% trans "details" %}</a>
    </div>
</script>

<script type="text/html" id="EventView">
<a class="<% if (cancelled) { %>cancelled<% } %>" href="<%= course_url %>" title='from <%= start %> to <%= end %>'><%= title %></a>
    <select name="instructor">
        <option value="0">{% trans "--" %}</option>
        {% for i in instructors %}
        <option value="{{ i.pk }}">{{ i }}</option>
        {% endfor %}
    </select>
    <div class='comments'>
    </div>
    <ul class="rider-list">
    </ul>
</script>

<script type="text/html" id="CommentsView">
   <i class="icon-comment"></i>
   <% if (last_comment != undefined) { %>
    <span class='comment'><%= last_comment.get('comment') %></span>
   <% } %>
   <input type='text' name='newcomment'/>
</script>

<script type="text/html" id="WeekView">
    <table class="timetable">
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>
</script>

<script type="text/html" id="EventLoadingView">
    <img src="{% static 'stables/img/ajax-loader.gif' %}"/>
</script>

<script type="text/html" id="HorseLimitReachedMessage">
    <h4>{% trans "Horse day limit reached" %}</h4>
    <span>{% trans "Horse <%= name %> is riding over it's limit of <%= limit %>" %}</span>
</script>

