{% extends "site_base.html" %}
{% load i18n %}
{% block body %}
<h1>{{ user }}</h1>
<p>
{% trans "E-mail" %}: {{ user.user.email }}
</p>
{% if social_auth.facebook %}
<a href="{% url socialauth_disconnect 'facebook' %}">{% trans "Disconnect Facebook" %}</a>
{% else %}
<a href="{% url socialauth_begin 'facebook' %}">{% trans "Connect Facebook" %}</a>
{% trans "or" %}
<a href="{% url django.contrib.auth.views.password_change %}">{% trans "Change password" %}</a>
{% endif %}
<side>
<ul>
    {% for p in user.get_participations %}
    <li>{{ p }}</li>
    {% endfor %}
</ul>
</side>
{% endblock body %}
