{% load sekizai_tags staticfiles i18n %}
{% addtoblock "css" %}
{% endaddtoblock %}

{% block content %}

<html>
<head>
<link href="{% static 'stables/css/daily.css' %}" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
<script src="{% static 'libs/jquery/js/jquery-1.9.1.min.js' %}"></script>
<script type='text/javascript' src="{% static 'stables/js/daily.js' %}"></script>
</head>
<body>
<h1>{{ date }}</h1>
<button class="nonprint" onclick='window.print();'>{% trans "Print" %}</button><br>
<i class="nonprint">{% trans "You can type custom message below" %}</i>
<p>
<textarea class="nonprint"></textarea>
<span id='note'></span>
</p>

<table>
{% for o,c,parts in events %}
<tr class="event"><td class="event" colspan="3">
    <h2
        {% if o.cancelled %}
        style="text-decoration: line-through"
        {% endif %}
        >

        <span
        {% if o.start != o.original_start %}
        style="color: red; text-decoration: underline"
        {% endif %}>
        {{ o.start|time:"H:i" }}
        </span>

        {{ o.title }}

        {% if o.start != o.original_start %}
        <span style="font-size:smaller; text-decoration: line-through">
        ({{ o.original_start|time:"H:i" }})
        </span>
        {% endif %}

        </h2> 
        <a class="nonprint hide">{% trans "hide" %}</a>
</td></tr>
    {% if not o.cancelled %}
    {% for p in parts %}
        <tr class="participation">
        <td class="rider"
        {% ifnotequal p.state 0 %}
        style="text-decoration: line-through"
        {% endifnotequal %}
        >
        {{ p.participant }}
        </td>
        <td class="horse">
        {% if p.state == 0 and p.horse %}
        {{ p.horse }}
        {% endif %}
        </td>
        <td class="tickets">
        {{ p.ticketcount }}
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="3">
    {% trans "cancelled"|capfirst %}
    </td></tr>
    {% endif %}
{% endfor %}
</table>

</body>
</html>

{% endblock content %}
