{% extends "base.html" %}
{% load i18n sekizai_tags stablestags %}
{% block body %}
{% addtoblock "js" %}
<script type='text/javascript' src="{{ STATIC_URL }}stables/js/dashboard.js"></script>
{% endaddtoblock %}
{% addtoblock "css" %}
<link href="{{ STATIC_URL }}stables/css/dashboard.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}stables/css/course.css" rel="stylesheet" type="text/css" />
{% endaddtoblock %}

<div>
{% trans "Select week" %}
<ul id='week_navigation'>
{% for i,y in form.monday|week_range %}
<li{% ifequal i week %} class='selected'{% endifequal %}>
{% ifnotequal i week %}
<a href="{% url stables.views.dashboard week=i %}{% if y %}?year={{ y }}{% endif %}">
{% endifnotequal %}
{{ i }}
{% ifnotequal i week %}
</a>
{% endifnotequal %}
</li>
{% endfor %}
</ul>
</div>

<form method='POST'>
  <div><input type="checkbox" id="show_hidden"/><label for="show_hidden">{% trans "Show unattending" %}</label></div>
  {% csrf_token %}
  <input type='submit' value='{% trans "Save Changes" %}'/>
  {{ form.non_field_errors }}
  <table class='timetable'>
  {{ form.as_table }}
  </table>
</form>



{% endblock body %}
