{% extends "site_base.html" %}
{% load thumbnail i18n sekizai_tags %}
{% block body %}
{% addtoblock 'css' %}
<link href="{{ STATIC_URL }}stables/css/horse.css" rel="stylesheet" type="text/css" />
{% endaddtoblock %}
{% addtoblock 'js' %}
<script src="{{ STATIC_URL }}stables/js/horse.js" type="text/javascript"></script>
{% endaddtoblock %}
<ul class="horselist">
{% for horse in horses %}
<li>
<div class='horse_info'>
<div class='horse_image'>
<a href="{{ horse.get_absolute_url }}">
<img src="{% thumbnail horse.mugshot 200x300 crop %}"/>
</a>
</div>
<a href="{{ horse.get_absolute_url }}">
<h1>{{ horse.name }}</h1>
</a>
{% include 'stables/horse_info.html' %}
</div>
</li>
{% endfor %}
</ul>
{% endblock body %}
