{% load i18n %}
{% if horse.gender %}
<div class='horse_gender'>{% trans horse.gender %}</div>
{% endif %}
{% if horse.nickname %}
<div class='horse_nickname'>
{% blocktrans with horse.nickname as nickname %}
"{{ nickname }}"
{% endblocktrans %}
</div>
{% endif %}
{% if horse.breed %}
<div class='horse_breed'>{% trans horse.breed %}</div>
{% endif %}
{% if horse.birthday %}
<div class="horse_birthday">
{% blocktrans with horse.birthday|date:"Y" as birthday %}
Birth: {{ birthday }}
{% endblocktrans %}
</div>
{% endif %}
{% if horse.withers %}
<div class="horse_withers">
{% blocktrans with horse.withers as withers %}
Withers: ca. {{ withers }} cm.
{% endblocktrans %}
</div>
{% endif %}
