{% extends "base.html" %}
{% load i18n sekizai_tags stablestags %}
{% block content %}
{% addtoblock "js" %}
<script type='text/javascript' src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}js/backbone-min.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}stables/js/tooltipTextarea.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}stables/js/modules/participation.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}stables/js/modules/dashboard.js"></script>
<script type='text/javascript'>
    Backbone.Tastypie.csrfToken = $.cookie( 'csrftoken' )

    Date.prototype.addDays = function(days) {
        var dat = new Date(this.valueOf())
        dat.setDate(dat.getDate() + days);
        return dat;
    }

    Date.prototype.toISODate = function() {
        return this.toISOString().split("T")[0]
    }

    function getDates(startDate, stopDate) {
        var dateArray = new Array();
        var currentDate = startDate;
        while (currentDate <= stopDate) {
            dateArray.push( new Date (currentDate) )
            currentDate = currentDate.addDays(1);
        }
        return dateArray;
    }

    var week = new Week({ dates: [ new Date().toISOString().split("T")[0] ] })
    var weekView = new WeekView({ model: week })
    $('.widget-content').html(weekView.$el)

    var WeekRouter = Backbone.Router.extend({
        routes: {
            '': 'default',
        },
        initialize: function() {
            var router = this,
            routes = [
            [ /^((\d{4}-\d{2}-\d{2},{0,1})*)/, 'getDate', this.dates],
            ]
            _.each(routes, function(route) {
                router.route.apply(router, route)
            })
        },
        default: function() { week.fetch(); },
        dates: function(d) {
            var dd = d.split(',')
            _.each(_.keys(week.get("dates")), function(ed) {
                if (!(ed in dd))
                    delete week.get("dates")[ed]
            })
            _.each(dd, function(ed) {
                    week.get("dates")[ed] = undefined
            })
            week.fetch()
        },
    })
    var dashboard_router = new WeekRouter()

    Backbone.history.start()

</script>
{% endaddtoblock %}
{% addtoblock "css" %}
<link href="{{ STATIC_URL }}stables/css/dashboard.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}stables/css/course.css" rel="stylesheet" type="text/css" />
{% endaddtoblock %}

<script type="text/html" id="ParticipationView">
    <select name="horse">
        <option value="0">{% trans "--" %}</option>
        {% for h in horses %}
        <option value="{{ h.pk }}">{{ h.name }}</option>
        {% endfor %}
    </select>
    <span class="ui-stbl-db-user alert alert-<%= alert_level %>"
    <% if (state != 0 ) { %>
        style="text-decoration: line-through;"
    <% } %>
    >
    <% if (finance_url != null) { %>
        <a href="<%= finance_url %>" title="<%= finance_hint %>"><%= finance %></a>
    <% } %>
    <a href="<%= rider_url %>"><%= rider_name %></a>
    </span>
    <select name="state">
        {% for s in states %}
        <option value="{{ s.0 }}">{{ s.1 }}</option>
        {% endfor %}
    </select>
    <div class="note">
    <textarea name="note"><%= note %></textarea>
    </div>
</script>

<script type="text/html" id="EventView">
    <span title='from <%= start %> to <%= end %>'><%= title %></span>
    <select name="instructor">
        <option value="0">{% trans "--" %}</option>
        {% for i in instructors %}
        <option value="{{ i.pk }}">{{ i }}</option>
        {% endfor %}
    </select>
    <div class='comments'>
    </div>
    <ul class="rider-list">
    </ul>
</script>

<script type="text/html" id="CommentsView">
   <i class="icon-comment"></i>
   <% if (last_comment != undefined) { %>
    <span class='comment'><%= last_comment.get('comment') %></span>
   <% } %>
   <input type='text' name='newcomment'/>
</script>

<script type="text/html" id="WeekView">
    <table class="timetable">
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>
</script>

<div class="wide widget">

  <div class="widget-content">
  </div>
</div>


{% endblock content %}
