{% extends "base.html" %}
{% load staticfiles i18n sekizai_tags stablestags %}
{% block content %}
{% addtoblock "js" %}
<script type='text/javascript' src="{% static 'js/jquery.cookie.js' %}"></script>
<script type='text/javascript' src="{% static 'underscore/underscore.js' %}"></script>
<script type='text/javascript' src="{% static 'js/backbone-min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/backbone-tastypie.js' %}"></script>
<script type='text/javascript' src="{% static 'stables/js/tooltipTextarea.js' %}"></script>
<script type='text/javascript' src="{% static 'stables/js/modules/comments.js' %}"></script>
<script type='text/javascript' src="{% static 'stables/js/modules/participation.js' %}"></script>
<script type='text/javascript' src="{% static 'stables/js/modules/dashboard.js' %}"></script>
<script type='text/javascript' src="{% static 'stables/js/plugins/msgGrowl/js/msgGrowl.js' %}"></script>
<script type='text/javascript' src="{% static 'momentjs/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'momentjs/lang/fi.js' %}"></script>
<script type='text/javascript'>
    moment.lang('fi');

    var horseLimits = new DayLimits([
        {% for h in horses %}
            {% if h.day_limit %}
            { 'horse': {{ h.id }}, 'limit': {{ h.day_limit }}, 'name': '{{ h.name }}' },
            {% else %}
            { 'horse': {{ h.id }}, 'limit': 999, 'name': '{{ h.name }}' },
            {% endif %}
        {% endfor %}
    ])

    Backbone.Tastypie.csrfToken = $.cookie( 'csrftoken' )

    Date.prototype.addDays = function(days) {
        var dat = new Date(this.valueOf())
        dat.setDate(dat.getDate() + days);
        return dat;
    }

    Date.prototype.toISODate = function() {
        return this.toISOString().split("T")[0]
    }

    var today = new Date().toISOString().split("T")[0]
    var week = new Week({ dates: [ today ] })
    var weekView = new WeekView({ model: week })
    weekView.render()
    $('.widget-content').html(weekView.$el)

    var WeekRouter = Backbone.Router.extend({
        routes: {
            '': 'default',
        },
        initialize: function() {
            var router = this,
            routes = [
            [ /^((\d{4}-\d{2}-\d{2},{0,1})*)/, 'getDate', this.dates],
            ]
            _.each(routes, function(route) {
                router.route.apply(router, route)
            })
        },
        dates: function(d) {

            console.log("got route: "+d)

            if (d != null)
            {
                var dd = d.split(',')
                _.each(_.keys(week.get("dates")), function(ed) {
                    var ind = $.inArray(ed, dd)
                    if (ind == -1)
                        delete week.get("dates")[ed]
                    else
                        dd.splice(ind, 1)
                })
                _.each(dd, function(ed) {
                        week.get("dates")[ed] = undefined
                })
                week.fetch()
                $.cookie("last-dashboard-route", d)
            }
        },
    })
    var dashboard_router = new WeekRouter()

    console.log("start history")
    Backbone.history.start()
    if (Backbone.history.fragment == "")
    {
        var rout = $.cookie("last-dashboard-route")
        if (rout == null)
            rout = today
        console.log("navigating: "+rout)
        dashboard_router.navigate(rout, { trigger: true })
    }

</script>
{% endaddtoblock %}
{% addtoblock "css" %}
<link href="{% static 'stables/css/dashboard.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'stables/css/course.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'stables/js/plugins/msgGrowl/css/msgGrowl.css' %}" rel="stylesheet" type="text/css" />
{% endaddtoblock %}

{% include "stables/_templates.html" %}

<div class="wide widget">

  <div class="widget-content">
  </div>
</div>

{% endblock content %}
