{% extends "site_base.html" %}
{% load i18n %}
{% block body %}
<h1><a href="{{ rider.get_absolute_url }}">{{ rider }}</a></h1>
{% if saldo %}
  {% if customer %}
  <a href="{% url stables.views.view_customer customer.userprofile.user.username %}">
  {% endif %}
  {% trans "Saldo" %} {{ saldo }}
  {% if customer %}
  </a>
  {% endif %}
{% endif %}
<div class="tickets">
{% if rider.rider.unused_tickets.count %}
{% blocktrans with rider.rider.unused_tickets.count as ticket_count %}
Tickets left: {{ ticket_count }}
{% endblocktrans %}
{% endif %}
{% if perms.stables.add_ticket %}
<a href="{% url stables.views.add_tickets rider.user.username  %}">{% trans "Add tickets" %}</a>
{% endif %}
</div>
<ul>
    {% for p in rider.get_participations %}
    <li>{{ p }}</li>
    {% endfor %}
</ul>
{% endblock body %}
