{% extends "site_base.html" %}
{% load i18n %}
{% block body %}
<h1><a href="{{ user.get_absolute_url }}">{{ user }}</a></h1>
<h3>{% trans "Tickets" %}</h3>
{{ user.tickets }}
{% if perms.stables.add_ticket %}
<a href="{% url stables.views.add_tickets user.user.username %}">{% trans "Add tickets" %}</a>
{% endif %}

{% if user.participations %}
  <h3>
    {% trans "Last participations" %}
    <a href="{% url stables.views.view_rider user.user.username %}">more</a>
  </h3>
  <ul>
    {% for p in user.participations %}
    <li>{{ p }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if user.customer %}
<h3>{% trans "Saldo" %}</h3>
{{ user.customer.saldo }}
<h3>
  {% trans "Last transactions" %}
  <a href="{% url stables.views.view_customer user.user.username %}">more</a>
</h3>
<ul>
  {% for t in user.transactions %}
  <li>
  {{ t }}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
