{% extends "site_base.html" %}
{% load i18n sekizai_tags cms_tags %}
{% load stablestags %}
{% block content %}
{% addtoblock "css" %}
<link href="{{ STATIC_URL }}stables/css/widget.css" rel="stylesheet" type="text/css" />
{% endaddtoblock %}
<h1>WIDGET</h1>
{% date_picker %}
<ul class="daily" data-role='listview'>
{% for e, ps in events %}
  <li data-role='list-divider'>
  <span class="dailytitle">{{ e.title }}</span>
  <span class="dailytime">{{ e.start.time }} - {{ e.end.time }}</span>
  </li>
  {% for p in ps %}
    <li>
    <!--<span class="id">{{ p.id }}</span>-->
    <a class="rider" href="{% url "stables.views.widget_user" pid=p.id %}">
      {{ p.participant }} {{ p.state|state }} {{ p.saldo }}
    </a>
    </li>
  {% endfor %}
{% endfor %}
</ul>

{% endblock content %}
