{% extends "site_base.html" %}
{% load i18n sekizai_tags cms_tags %}
{% load stablestags %}
{% block body %}
<h1 class="rider">{{ p.participant }} {{ p.state|state }}</h1>
<h2>{{ p.event.title }}</h2>
<div>{{ p.start }} - {{ p.end }}</div>
<span class="horse">{{ p.horse.nickname }}</span>
<div class="saldo">
  Saldo:
  <span>{{ p.saldo }}
  {% if p.ticket_used %}
  ({{ p.ticket_used.type }})
  {% endif %}</span>
  <ul class='saldo_info'>
  {% for t in p.transactions %}
  <li>
  {{ t.amount }}
  {{ t.created_on }}
  </li>
  {% if t.ticket_set.count > 0 %}
  <li>{{ t.ticket_set.all.0.type }} {{ t.created_on }}</li>
  {% endif %}
  {% endfor %}
  </ul>
</div>
<div>
  <div>
  {% if perms.stables.add_transaction %}
    {% if p.saldo or p.ticket_used %}
    <div>{% pay_button p %}</div>
    {% endif %}

  {% for ttype in p.tickets %}
    <div>{% pay_button p ttype %}</div>
  {% endfor %}
  {% endif %}
  </div>
  {{ p.participant.rider.ticket.count }}
  {% participate_button p %}
</div>
<div>
  <a href="{% url stables.views.report_accident %}?participation_id={{ p.id }}">{% trans "Report accident" %}</a>
</div>
{% endblock body %}
